*.apk
*.ap_
*.dex
*.class
*.jks
bin/
gen/
build/
out/
release/
*/release/
local.properties
captures/
*.pydevproject
.classpath
.metadata
*.tmp
*.old
*.diff
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders
*.launch
.cproject
.buildproject
proguard/
.project
.idea/
google-services.json
.gradle/
local.properties
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*.swp
*.jks
*.log
.navigation/
gradlew
gradlew.bat
